

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    background: #777;
    line-height: 160%;
   
}

header, nav, section, aside, footer{
    color: #ebebeb;
    background: #777;
}


article {
    color: #ebebeb;
    background-attachment: #777;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

header {
background-color: #ebebeb;
color: #777;
width: 100%;

}

h1{
    padding-top:25px;
    padding-bottom: 25px;
    text-align: center;
    
 
    
    background: black;
}

#phead {

    width: 13%;
    padding-left: 156.5px;
    padding-right: 960px;
    
}

nav li{
    padding: 20px;
}

nav ul{
    display: inline-block;
    background-color: #ebebeb;
    display: flex;
}

.nav{
    padding-right: 156.5px;
    float: right;
}


section{
    clear: both;
    
    background-color: #ebebeb;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 960px;
    
    margin: 0 auto;
    
}
.sectioncont {
    padding-top: 30px;
    
    
}

img {

padding-left:25px;
padding-right:20px;
padding-bottom:10px;
float: left;
width: 150px;
height: 130px;

}

#topsecp{
    font-size: 20px;
    color: red;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 35px;
}

.sectioncont p {
    font-size: 15px;
    padding-left: 20px

}




footer {
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    bottom: -20px;

}

#footer {
    
   
}




